[2017-02-27 22:51] chaoran-chen opened #2 "Create mock data"
Write some mock data for the entities:
* Composers
* Music works
* Musicians and groups of musicians (people, orchestras, choirs, ensembles, etc)

and some data about their relations. See: https://musicbrainz.org/doc/Style/Relationships

[2017-02-27 22:55] chaoran-chen opened #3 "Implement a simple search function"
It should contain a single input field. The result of a search can be objects of all kind of entities.

[2017-02-27 23:00] chaoran-chen opened #4 "Create layout template"
The template should include a framework like bootstrap or foundation (to be discussed..), and contains a simple header.

[2017-02-27 23:01] chaoran-chen opened #5 "Create basic pages for the 3 entities"
Pages for
* Composers
* Music works
* Musicians and groups of musicians (people, orchestras, choirs, ensembles, etc)

with some basic information.

[2017-02-27 23:05] chaoran-chen opened #6 "Setup Elasticsearch"
The result of this task could be a simple document with instructions to setup Elasticsearch and import our mock data, so that all the others can replicate it easily.

[2017-02-28 18:13] #2 closed, assigned to chaoran-chen

[2017-02-28 19:51] martomi opened #8 "Setup Express server"

[2017-02-28 20:24] lustoykov opened #9 "Setup React to work with express"

[2017-03-01 11:53] sacdallago commented on #6
(strong) Suggestion: set up a docker container to build elastic search (/the tool) with your dependencies and such and then set up automatic deployment of the docker container via docker hub.

More:
1. https://www.sdxcentral.com/cloud/containers/definitions/what-is-docker-container-open-source-project/
1. https://docs.docker.com/docker-hub/builds/

[2017-03-01 11:55] sacdallago commented on #2
@MusicConnectionMachine/group-1 @MusicConnectionMachine/group-2 just pinging

[2017-03-01 14:39] chaoran-chen commented on #6
Thanks @sacdallago for the great advice! I will start doing it right now.

[2017-03-01 14:55] chaoran-chen opened #12 "Setup SASS + Bootstrap"

[2017-03-01 15:05] #8 closed, assigned to martomi

[2017-03-01 21:25] kordianbruck commented on #12
You might want to use Bootstrap 4 for this already: https://v4-alpha.getbootstrap.com/

It seems to be pretty stable even though its just an alpha

[2017-03-02 09:48] sacdallago commented on #12
Thinks I like about bootstrap:

`end_of_file.`

[2017-03-02 19:12] #12 closed, assigned to martomi

[2017-03-02 23:31] kordianbruck opened #14 "Overlapping Work"
Hey,

just as a suggestion: it does not make sense that both teams do a fully fleched Web App with all components. It would be better if one of the team focuses on the big picture, like the main framework and detailed views while the other team comes up with a great idea how to navigate the "social network graph".

So: maybe you can coordinate a bit with your colleges so we don't end up with two s

[2017-03-03 09:43] chaoran-chen opened #16 "Person-Person Graph"
After the tasks for setting up are mostly defined and done, I think that it's time to start with the core issues of this project.

I would like to suggest an interactive graph that shows the (up to 7?) most important people related to a person, and it should be possible to select if all kind of people should be presented or only, e.g., composers.

![img_8803](https://cloud.githubusercontent.com/as

[2017-03-03 10:58] martomi commented on #16
I like the idea. I'll start looking into D3.js and Cytoscape.js to see what would be more suitable for that kind of visualization.

[2017-03-03 12:26] kordianbruck commented on #16
http://visjs.org/network_examples.html
http://sigmajs.org/
http://jsnetworkx.org/

Just to name a few - pick the best :P

[2017-03-04 10:20] sacdallago commented on #16
Cytoscape might be an overkill! But if the network is really big, it might be the only solution.

Key here is to understand _how big_ (number of nodes and number of edges) the network is going to be. Also: it would be cool if the graph would render in a hyperlink fashion: clicking on one item loads new data into the graph and deletes some old nodes (for example). <-- not very trivial, AFAIK

[2017-03-04 11:17] martomi commented on #16
@sacdallago Your suggestion sounds very similar to that http://www.wineandcheesemap.com (try clicking on some nodes). It's based on Cytoscape. Do you have experience with any more lightweight library that you could recommend instead of Cytoscape. D3 seems to be very flexible and any implementation would be possible, but on the other hand it probably requires more work as it is not specifically des

[2017-03-04 13:56] martomi commented on #16
So here's the result of a few experiments I did with different libraries:

[VisJS Demo](http://jsfiddle.net/dq3fc0nz/3/): I like the simplicity, but it's also somewhat limiting. E.g I don't see an obvious way to move the labels inside the nodes. The library doesn't not provide a configuration possibility for that.

[Cytoscape Demo](http://jsfiddle.net/kbgurfs7/): A bit more advanced, lots of optio

[2017-03-04 15:57] chaoran-chen commented on #16
I believe that the visible part of the network shouldn't be that large because it should only show the most important relationships. Furthermore, I think that the nodes should contain, if available, a picture of a person, so that it would not be possible to display too many nodes.

I like it!

[2017-03-04 16:29] chaoran-chen opened #17 "Timeline Visualization"
Since we human beings believe the [arrow of time](https://en.wikipedia.org/wiki/Arrow_of_time), I think that a timeline could be a very interesting feature. Concerning a person, it should contain:

* the life of the person (birth, death, other important stations)
* important encounters with other persons
* relevant works (maybe before the person was even born) that affect the person
* the impact o

[2017-03-05 08:57] sacdallago commented on #16
I have seen people using D3 for graphs and it's _not bad_. This being said, D3 is really bare-bone and you can configure every aspect of it from bottom up. Cytoscape is more integrated and some behaviours are just a matter of _enabling_ plugins. Also: D3 is not good at handling huge **dynamic** graphs (where the dynamic par is: where do you place the node in space? Fixed positions vs calculated po

[2017-03-05 16:22] #6 closed, assigned to chaoran-chen

[2017-03-05 22:50] vviro commented on #16
@chaoran-chen I believe that providing a higher information density option (possibly with an interactive filtering functionality?) would also be important. Given the size of the analyzed dataset there will be interesting findings that are not well known or most important, but which we certainly want to make available and discoverable. How to do that is an interesting question.

[2017-03-06 00:54] #9 closed, assigned to lustoykov

[2017-03-07 01:23] chaoran-chen opened #21 "Architecture design"
Hey. As the follow-up to https://github.com/MusicConnectionMachine/VisualizationG5/pull/19#discussion_r104558249, I think we should speak a bit about our architecture again, and this time come to a decision.

I believe that it would be nice to have 3 components at the end.
* An REST-JSON-API-Server that delivers data and can maybe be opened up to be used for other developers.
* A set of React comp

[2017-03-07 02:25] martomi commented on #21
I fully agree with you 👍  Also as a follow-up on the discussion from #19, our components should not expect data to be pre-loaded from the express server. Example is the `SearhResultsComponent` which currently renders the view by directly accessing data from `window.__dataForReact`. In order to have reusable and embeddable components we should use props instead. This would allow us to add a case-sp

[2017-03-07 22:23] lustoykov commented on #21
Spot on. I'm closing the issue, we seem to agree.

[2017-03-07 22:31] #3 closed, assigned to chaoran-chen

[2017-03-10 22:33] martomi opened #24 "Grouping of Relationships for Graphical Representation"
For our relationship graph we want to be able to group the entities with their relations in a meaningful way. This would allow us to reduce the total number of nodes and maintain an easily browsable graph. Optimally, we would have our entity of interest in the center of the graph and all relations would be representable as links to a small (maybe <10 ?) number of groups around it. The user should

[2017-03-10 22:46] martomi commented on #16
We're currently leaning more toward a solution with a small number of nodes on the screen at any given time. This would allow us to provide better browsing experience to the user.

Graphs with a lot of nodes can be overwhelming and hard to analyze unless we're looking for very specific trends which can be observed only by looking at the big picture. I believe it's better to do a separate implement

[2017-03-10 23:27] simonzachau commented on #24
Regarding the rough number 10 it sounds valid (compared to the [relationships](https://github.com/MusicConnectionMachine/RelationshipsG4/blob/develop/documents/Relationships.txt) we are hoping to be able to extract in the future).

For now we are still trying to find a way to mine the data. Of course it's nice to know any special requirements we should be careful about.

[2017-03-11 05:47] #21 closed, assigned to nobody

[2017-03-11 05:58] lustoykov opened #25 "Visuzalition of Work Data"
Proposal:

Implement a React Component to visualize work data.

Use it in:

- Search for work data - display list of such components
- Browse work data - display list of such components
- Links and integration with #17 - link to author's timeline from work data
- Links and integration with #17 - @chaoran-chen could reference the work data component or implement basic data info and when you "click

[2017-03-11 07:29] chaoran-chen commented on #14
Closed since it will be discussed in MusicConnectionMachine/VisualizationG6#11

[2017-03-11 07:29] #14 closed, assigned to nobody

[2017-03-11 07:51] chaoran-chen commented on #25
Hi @lustoykov, thanks for the proposal! I'm not sure if I understand your idea. Could you explain it more detailed?
* Which kind of visualization do you have in mind?
* Should this component be able to display general information of all entities? Does it replace #5?
* I guess that "Search for work data" is the search function we already have implemented?
* What do you mean with "Browse work data"?

[2017-03-11 08:14] chaoran-chen opened #26 "Map View"
As we can see in this [table](https://musicbrainz.org/relationships) (especially [here](https://musicbrainz.org/relationships/area-recording) and [here](https://musicbrainz.org/relationships/place-work)), there are a lot of data and relationships containing geographical information. Thus, I would like to propose a map view. I'm thinking of a visualization similar to [Drivenow](https://de.drive-now

[2017-03-11 08:19] gyachdav commented on #24
@vviro what would be an interesting and intuitive secondary dimension to group composers. Things that come to my mind are period, style, school etc. your expertise here is needed.

[2017-03-11 08:26] gyachdav commented on #16
I really like this idea. It makes sense for a data exploration tool to dynamically show information on-demand and not dump all data onto the screen at once. The "wine and cheese" example does something similar but not exactly what you want. As I see it, expanding a group keeps the original composer in the middle but adds more nodes to the network. The main considerations here should be:

1. Make i

[2017-03-11 09:59] lustoykov commented on #25
True this is not really need, I'll reopen if the idea matures more in my mind.

[2017-03-11 09:59] #25 closed, assigned to lustoykov

[2017-03-11 10:14] lustoykov commented on #5
I'm starting to work on that today.

[2017-03-11 10:24] martomi commented on #26
Agree, I had a similar idea looking at [D3's Geographic Projections](https://github.com/d3/d3-geo) earlier this week. Not sure if D3's representation would be better than Google Maps as in your example with DriveNow.

Edit: Check out this JSFiddle [demo](http://jsfiddle.net/xavipolo/v3d39ggg/).

[2017-03-11 10:27] lustoykov commented on #26
http://leafletjs.com/ is also a possible solution

[2017-03-11 10:29] martomi commented on #26
In my opinion D3's representation gives us a nice more abstract representation, the other map solutions seem more meaningful to me if you actually intent to navigate to the specified location, which doesn't seem to be the case for us.

[2017-03-11 10:33] lustoykov commented on #26
I like the d3 proposal more as well

[2017-03-11 16:27] goldbergtatyana commented on #16
Are you considering having an overview of relationships also in a text format, like a table listing all connections in the graph?

[2017-03-11 16:55] martomi commented on #16
Maybe, a table listing shouldn't be very hard to add. Then again we should have some sort of filtering to avoid rendering huge tables with endless scroll 😄

[2017-03-11 17:05] goldbergtatyana commented on #16
Yep, true! One of the filters could be a srolling bar that would limit table entries only to a certain weight. Default could be for example a weight of 0.9. A user could then scroll a bar and let also entries with a lower weight appear. Maybe we could also allow user to download a table with _all_ entries as an excel sheet.

[2017-03-11 17:59] gyachdav commented on #16
I think that an export feature into CSV, TSV, JSON makes sense. I would avoid having a table as a visual object though. The graph/network is the most intuitive visual we have to represent relationships.  let's stick to it.

[2017-03-11 18:12] goldbergtatyana commented on #16
A graph is a very strong visual, I agree! In the discussion above I read that only 7 (?) strongest relationships are planned to be shown in the graph. This number appears low to me, however showing more than that can be a mess (and so less of a use). So, I was thinking of having a different view (like switching tabs) where a user can go to a text visualization of the results and see also weaker co

[2017-03-11 19:56] chaoran-chen commented on #16
Only 7 relationships was an earlier idea but we decided to show much more by grouping them as described in #24

[2017-03-12 23:50] lustoykov commented on #5
- [x] Implement a Pagination component (Footer, Header and Filter)
- Footer displays numbers 1... 8, 9, 10, ... 30 (current page is 9, last page is 30)
- Header just for visual purpose
- Filter - the user can type anything and it triggers a callback with the value

The Pagination should accept following properties:
- total - total number of entities
- limit - number of entities per page
- currentP

[2017-03-13 09:19] sacdallago commented on #26
Mh. If you want something navigable, use leaflet. If you want an infographic-style visualisation, use D3.

## I'd go for leaflet!

This being said, **put this in the backlog, but work on getting the main requirements done first**  https://en.wikipedia.org/wiki/Lean_software_development

[2017-03-14 20:35] chaoran-chen opened #27 "Host the Website"
Make the code run on Heroku or similar hosting services.

[2017-03-14 22:12] #27 closed, assigned to chaoran-chen

[2017-03-15 21:26] gyachdav commented on #24
Paging @vviro

[2017-03-16 08:03] vviro commented on #24
I'm not quite sure if there are many different meaningful ways for grouping composers that are accessible to us data-wise. Simple natural groupings could be by time period, geography (e,g, place of birth, which is however not that interesting since people did move around). For musicians that's of course same as above plus their instruments. But this all doesn't seem very exciting. If we get some i

[2017-03-18 11:07] chaoran-chen opened #31 "Filters and Search for the Timeline"
It should be possible to filter the events in the timeline component by typing in some search keywords or by setting defined filters.

[2017-03-18 11:08] chaoran-chen opened #32 "Download Event Data of the Timeline"
The timeline component should provide a button that enables the user to download the events as CSV.

[2017-03-18 11:23] chaoran-chen opened #33 "Libraries for the Components"
Hey. I think that we should speak a bit about the libraries we want to use for our components. Currently, D3 is used for the Person-Graph and vis.js for the timeline.

* Do we also want to use some general libraries such as jQuery?
* How do we want to fetch the JSON-data? Using d3 (even if the component does not use d3)? Using XMLHttpRequest, or `fetch` with polyfill? jQuery?
* Is there a need for

[2017-03-18 14:29] lustoykov commented on #33
here my 2 cents

- React makes jQuery unneeded
- fetch is simplest and most versatile
- I added react-bootstrap-4 to our components, will come with pull request
- Feel free to add any icon set you wish, I don't mind : - )

[2017-03-19 10:52] chaoran-chen opened #35 "Building the final bundle + API to host site"
Now that we have the first prototypes of some widgets, we should start to discuss how we want to ship them and how the host sites can interact with them. I think that our build (and all of our components) should support the following three points.

1. Provide a single JavaScript (and maybe CSS) file, e.g.
[code]
2. The host site developer can create widgets in such a way:
[code]
3. Fire events:
[c

[2017-03-19 10:55] chaoran-chen commented on #35
@vviro That's the topic which we have talked about the last time, right?

[2017-03-19 12:14] kordianbruck commented on #35
I think an iframe will be simpler to do at first, but has less flexible configurability.

In any case, if you include a JS script you can dynamically add the stylesheet on load.

[2017-03-19 12:20] kordianbruck commented on #33
Please just decide if a full icon set is really required. If you do use one, just use one of them - not multiple.

Icon fonts add a lot of traffic... (Especially if they are included on a separate site)

[2017-03-19 13:11] chaoran-chen commented on #35
An iframe would be simpler for sure, but then, I don't know how the components should notify the host site about events appropriately, which seems to be an important requirement according to @vviro .

I think that a good and sustainable setup is worth the effort, and I can attack this issue with pleasure after the presentations.

[2017-03-19 13:16] chaoran-chen commented on #33
Yes, that's a good point. Therefore the question to all: do you have any need for an icon set? I needed one icon for external links and will certainly need some few more, but if none of you need it, I can do it otherwise.

(@martomi? @Binabiko?)

[2017-03-19 16:34] kordianbruck commented on #35
Alright, yes, I was not aware of that requirement. Excuse my comment then and proceed. Nothing to see here :construction:

[2017-03-19 17:09] #17 closed, assigned to chaoran-chen

[2017-03-20 18:04] martomi commented on #33
No icons required from my side at this point. I agree with @lustoykov on the other points 👍

[2017-03-22 17:39] martomi commented on #16
I'm going to close this issue since a first iteration of the graph has already been implemented and the issue itself is becoming quite big and not actionable. Will open separate issues for smaller tasks on the person graph instead.

[2017-03-22 17:39] #16 closed, assigned to martomi

[2017-03-22 17:46] martomi opened #37 "Process API data to feed into Person Graph"
Currently the graph is rendered based on a mock data which is not be matching the format of the actual data. The required format is graph specific containing `nodes` and `links` arrays which describe how the graph should look like. We should process the data coming from the API endpoint to feed into the graph.

Topics to cover in this issue:

- [ ] Understand what is the actual data available thro

[2017-03-22 17:57] martomi opened #38 "Extend Person Graph with additional Entities"
Currently the graph only represents people and groups with circles of different size and color. There has been a discussion that we extend the graph with additional entities like musical instruments represented by actual figures of instruments instead of circles. This feature would not only make the graph more interesting to explore, but would allows us to represent connections between people and

[2017-03-22 18:16] martomi commented on #26
@MusicConnectionMachine/group-6 That's the map view we were talking about today. If we divide the work between the two groups so that we don't do overlapping features, this would be a good place to start.

[2017-03-22 18:26] martomi opened #39 "Selecting an Entity of interest for the Person Graph"
The person graph allows us to explore the relations of a given entity (entity of interest) to other entities. There's currently no way to select the entity of interest.

One way would be to open the graph directly from the search results with pre-selected entity from the search result. That's a good start but most likely we'd need a way to select entities from inside the graph.

Topic covered in t

[2017-03-22 19:32] lustoykov opened #40 "Merge Pagination with Search of G6"
- G6 has nice design on their search component, but do not have Pagination, integrate G6's nice design into our Pagination. Also @chaoran-chen  has build Search component with better designed suggestion than our current pagination, so combine those suggestion into pagination as well.

- [ ] Integrate G6 Search's design into Pagination
- [ ] Integrate nice Suggestion's design implemented by @chaora

[2017-03-22 19:34] lustoykov opened #41 "Merge work of G5 + G6"
OK, I think we've come to a point where it makes sense to combine forces in order to create a great product. We'd like to invite G6 to join our project.

G6 has really nice landing page, we don't have one, it would be really nice if they can integrate their landing page into our project.

- [ ] G6 integrate landing Page into G5's project

Also, we have one component which overlaps - we have pagina

[2017-03-22 20:47] chaoran-chen commented on #41
Here are two corresponding issues to the Feedback / Commenting Component:
https://github.com/MusicConnectionMachine/api/issues/25
https://github.com/MusicConnectionMachine/VisualizationG6/issues/23

[2017-03-22 20:52] chaoran-chen commented on #40
G6 does already have a Pagination (which is quite nice designed). Try it by searching for Beethoven. But they haven't an autosuggestion.
http://visualization-g6.surge.sh/

[2017-03-22 20:57] joern-vh commented on #41
Yep. So mainly as mentioned above it should be a commenting Component - think it's Awesome to Share ones opinion on Music with other People.

[2017-03-22 20:59] demirdagemir commented on #41
Sounds cool, but like we talked today, how are we gonna do this? A separate repo, where everybody will work from now on, or are we going to work in parallel from our repos and combine them in one of our projects? Or, by "joining" you mean we move to your repo?

[2017-03-22 21:28] ysdevys commented on #41
I think separating the work and work parallel but on different features in our repos would be better, so we can continue in our smaller teams and don't loose time in merging right now.
I like the idea of the map and leafletJS. We can do this instead of the graph so we don't overlap.

[2017-03-22 21:59] martomi commented on #40
@chaoran-chen  By pagination we mean actually showing the pages under the results so you can directly go to page 10 without having to click 10 times on the next button. I'm not sure we have the use case and need to support this kind of pagination, but Google has it and so far we've oriented ourselves to their implementation of search.

Personally, I like the simplicity of the < back | next > butto

[2017-03-22 22:47] kordianbruck commented on #41
I think separate development is good for now - but please, for the love of god, think of how we can merge the individual components into one project some day in the next two weeks.

[2017-03-23 11:40] joern-vh commented on #41
![photo-2017-03-23-12-33-14_2628](https://cloud.githubusercontent.com/assets/25976634/24246069/e55dfcac-0fc5-11e7-9135-ef814e7bcc5f.JPG)

Group Assignments

[2017-03-23 13:16] lustoykov commented on #40
Closing this issue, since G6 is responsible for that.

[2017-03-23 13:16] #40 closed, assigned to nobody

[2017-03-23 15:37] martomi commented on #39
Closing since we decided not to move forward with this graph after discussion with @vviro

[2017-03-23 15:37] #39 closed, assigned to nobody

[2017-03-23 15:37] martomi commented on #38
Closing since we decided not to move forward with this graph after discussion with @vviro

[2017-03-23 15:37] #38 closed, assigned to nobody

[2017-03-23 15:38] martomi commented on #37
Closing since we decided not to move forward with this graph after discussion with @vviro

[2017-03-23 15:38] #37 closed, assigned to martomi

[2017-03-23 15:50] martomi commented on #35
We had another discussion with @vviro and it turns out it is actually possible to notify the host site about events from within the iframe by defining callbacks. Also from his experience it works quite well for widgets and we decided to take that same approach. Thus closing this issue.

[2017-03-23 15:50] #35 closed, assigned to nobody

[2017-03-23 16:28] martomi opened #42 "Relationship exploration widget"
As per latest discussion with @vviro and @gyachdav we want to build a widget for exploring the relationships of an entity through a **simple text table** (instead of bubble charts).

Initially the table should only show the few most relevant relations to an entity. We need a **search bar** on top that would allow user to search for **both** relations and entities.

Naturally, only entities and rel

[2017-03-23 16:55] martomi opened #43 "Make widgets available through iframe"
We need to provide a way to register callback functions from the parent page in order to execute actions from inside the iframe without triggering the cross-domain scripting error.

[2017-03-24 10:57] kordianbruck commented on #41
@Binabiko so we are not merging the groups right? Can you create dedicated issues for the assigned tasks please?

[2017-03-24 10:58] kordianbruck commented on #43
I thought this was impossible but this thread on SO says otherwise: https://stackoverflow.com/questions/4181433/creating-a-javascript-callback-in-an-iframe

[2017-03-24 13:54] chaoran-chen commented on #33
Good, then no more (general) libraries for the moment. -closed-

[2017-03-24 13:54] #33 closed, assigned to nobody

[2017-03-24 13:56] joern-vh commented on #41
Yes I'll do so later!

[2017-03-24 13:57] chaoran-chen commented on #26
I'll close this issue here since it will be done by @MusicConnectionMachine/group-6.

[2017-03-24 13:57] #26 closed, assigned to nobody

[2017-03-24 13:58] chaoran-chen commented on #5
Closed since we will not build an own site anymore.

[2017-03-24 13:58] #5 closed, assigned to lustoykov

[2017-03-24 14:01] chaoran-chen commented on #4
Closed since we will not build an own site anymore.

[2017-03-24 14:01] #4 closed, assigned to joern-vh

[2017-03-24 14:20] syncall commented on #41
Actually I would suggest to merge the projects not too late. It will be harder the later we get with the projects

[2017-03-24 14:28] ysdevys commented on #41
If we merge ill set up Integration mainline to be build and tested with travis

[2017-03-24 17:02] joern-vh opened #44 "Widgets"
Creating Widgets for [IMSLP](http://imslp.org/)
- Relationships
- Timeline (Component by @chaoran-chen)

- [ ] Clarify what Data we can get
- [ ] Thinking of how to inject the Widgets into IMSLP.  #43

[2017-03-24 17:04] joern-vh commented on #41
@kordianbruck I just created new Issues and assigned them.

[2017-03-26 14:54] joern-vh commented on #43
We get now the Information of what Musician or what Music Piece we have a look at. I pass this to the iFrame by adding it to the URL.
We just need to get the Information about which Musician/Music Piece we are looking at - right?

[2017-03-26 20:13] lustoykov commented on #41
Closing this issues, as tasks are assigned to groups

[2017-03-26 20:13] #41 closed, assigned to vviro, kordianbruck, yetolas, martomi, demirdagemir, sacdallago, chaoran-chen, lustoykov, syncall, joern-vh

[2017-03-27 19:05] kordianbruck commented on #5
@chaoran-chen did you agree that you will supply the already done work to the other group so they can reuse it?

[2017-03-27 19:27] chaoran-chen commented on #5
Yes, we did. We decided together that group 6 will build a React-SPA and that they can import and use our React components.

[2017-03-28 12:42] lustoykov commented on #42
See
https://github.com/MusicConnectionMachine/RelationshipsG3/issues/27

[2017-03-29 10:01] chaoran-chen commented on #24
Closed because it's obsolete.

[2017-03-29 10:01] #24 closed, assigned to nobody

[2017-04-01 16:39] #31 closed, assigned to chaoran-chen

[2017-04-01 16:39] #32 closed, assigned to chaoran-chen

[2017-04-01 16:52] chaoran-chen opened #52 "Fill backlog"
Our backlog is empty. [Die Welt ist fertig?](https://www.youtube.com/watch?v=Npozv5tJ9ek)

If not, what are our next steps? @Binabiko told me that #43 will be done by today evening or at the latest by tomorrow so that #42 will be our only open issue. Should we all work on it in the next 12 days? Should we further improve the timeline? (how? ideas?) Or should we build another component?

(Also @Mus

[2017-04-01 16:59] martomi commented on #52
If there are no other component requirements, maybe we should all just help with the API as there seems to be quite a bit of work remaining there.

[2017-04-01 16:59] gyachdav commented on #52
You hit all your milestones? Can we see a demo of all you worked on? Can your widgets be integrated into IMSLP? Can they be integrated into our own SPA? Are you involved in creating the SPA?

[2017-04-01 17:39] joern-vh commented on #52
I'm currently providing the iFrame functionality for our Components. I've tested integrating a Widget into Imslp and pass Information about what this Site is about to the IFrame content (by injecting) - works so far. I guess that I'll finish the Widget Setup by tomorrow (including a documentation like @vviro did for his project).

[2017-04-01 18:03] martomi commented on #52
@Binabiko Now that you mention it, I remember @vviro suggested that we do integration of the iframe in the IMSLP website and provide this demo integration so it can be shown exactly how it would look like in their website. Make sure to commit those files in addition to the documentation view as well 👍

[2017-04-01 18:41] chaoran-chen opened #53 "Fix overlapping bug in timeline"
It seems that at the first time when the timeline is loaded, the events overlap. After 1-2 reloads, the events are displayed correctly.

[2017-04-01 18:45] chaoran-chen commented on #52
@gyachdav Here are our current components:
* [Timeline](http://54.68.164.199:8080/timeline-app.html)
* [Relation App (still under development)](http://54.68.164.199:8081/relations-app.html)
* [Small experiment to display relations with bubbles](http://54.68.164.199:8082/)

I assume that our widgets can be integrated into the SPA but we are not really involved. (@MusicConnectionMachine/group-6, can

[2017-04-02 21:06] goldbergtatyana commented on #52
Hi Guys, very happy to see demos for three widgets. Thumbs up!
I very much like the [Timeline ](http://54.68.164.199:8080/timeline-app.html#) widget. I see that there are several placeholders and the information is rather sparse. I am wondering how the information will be displayed for some real data? Could you provide an example for real Mozart data? Also, will the widget be available for music p

[2017-04-02 21:14] goldbergtatyana commented on #52
[The second widget ](http://54.68.164.199:8081/relations-app.html) is under development, so I hold off from giving feedback to it at the moment.

[The third widget ](http://54.68.164.199:8082/), though not tagged as such, it seems to me to be under development as well. The idea of how to display the info is really cool, its impressive to see how creative this solution and implementation are! Here

[2017-04-03 23:31] chaoran-chen commented on #52
Hi @goldbergtatyana! Thank you very much for the feedback!

[Timeline](http://54.68.164.199:8080/timeline-app.html): I have just inserted the data for Bach from [here](https://github.com/MusicConnectionMachine/api/issues/22#issuecomment-289942908) which contains 15 items. Currently, we have only discussed it for artists (but @ansjin, what do you think? Could you also provide data for music pieces?

[2017-04-04 06:41] vviro commented on #52
@chaoran-chen I would first focus on working with real data and on simple UI for that (so I'd leave the bubbles for later). Most important is the real data - having it one can extend the simple UI meaningfully. For example, one could add filters for the timeline view (if there are too many entries and if we have a good way to filter the events) - but we need to see first whether this is relevant a

[2017-04-04 07:35] ansjin commented on #52
@chaoran-chen Looks quite good! :)
Yeah I can provide with you the timeline data of the music pieces also. I only need the separate raw text file of the music piece along with the music piece of which the file is!

[2017-04-05 11:19] vviro commented on #52
Are you also going to get timed data also from the unstructured data and relations groups? If so, can they already provide any samples, or when this will be possible?

[2017-04-05 11:46] chaoran-chen commented on #52
It has been already requested:
https://github.com/MusicConnectionMachine/api/issues/22

[2017-04-05 14:00] chaoran-chen commented on #53
There seems to be a bug somewhere in the vis timeline library that causes wrong height calculations in some seldom cases at the beginning but I cannot identify it. Currently, with the data for Bach, there are no problems. Therefore, I will close this thread for now. If there should be any issues in combination with the real data, I could implement a small "workaround" to fix it anytime.

[2017-04-05 14:00] #53 closed, assigned to chaoran-chen

[2017-04-05 19:51] goldbergtatyana commented on #52
I like the Timeline widget very much. Since it is possible to zoom in/out into the widget a large number of events can be displayed. It would be great if the events could be supported by links to their sources. Not all sources are equally reliable and if there is info coming from a less reliable source, then the frame surrounding the text of the event could be displayed in a lighter color. Again,

[2017-04-05 20:03] goldbergtatyana commented on #52
As to the third widget: I love the idea, too! The visualization is original, colorful and informative. If the information within the circles would remain condensed to 1-3 words and if we would define only a few classes (1) born, died, 2) married to and kids, 3) studied at, 4) travelled to, 5) famous pieces written, 6) professional appointmens, 7) friends with) and color the circles accordingly to

[2017-04-06 07:30] martomi commented on #43
Solved in #54

[2017-04-06 07:30] #43 closed, assigned to joern-vh

[2017-04-06 07:31] #44 closed, assigned to martomi, lustoykov, joern-vh

[2017-04-06 09:34] lustoykov opened #56 "Relationship widget - Requirements + Mockups"
For the predefined entities we'd let the backend algorithm generate up to 30 entries that we can display. `Relationships` and `Entities` entries would have different color (for instance blue for relationships and green for entities). Whenever `Relationship / Entity` is clicked, other entries become inactive (like opacity 0.5) and we show table view.

So user can explore each predefined entries.

T

[2017-04-06 09:34] lustoykov commented on #42
Close in favour of #56

[2017-04-06 09:34] #42 closed, assigned to martomi, lustoykov

[2017-04-06 12:44] chaoran-chen commented on #56
I had a small idea last evening and am building a small prototype right now. I should be finished by today evening.

[2017-04-06 13:06] lustoykov commented on #56
We could discuss it as mockups instead of spending whole day implementing?

[2017-04-06 14:18] chaoran-chen commented on #56
Yes, you're certainly right. It's just that I'm not sure how to describe it clearly, and I'm finished now. I will post a link to an online demo in few minutes.

[2017-04-06 15:24] chaoran-chen opened #58 "Report Function for the Timeline"
The user should be able to mark an event as wrong.

[2017-04-06 18:14] joern-vh commented on #56
Sorry guys I have an exam tomorrow, afterwards I will think about it some more, too :)

[2017-04-07 23:52] martomi commented on #56
So here's my idea / proposal for the relationships:

![artboard](https://cloud.githubusercontent.com/assets/3739458/24823029/8681554e-1bfa-11e7-90d9-a3a23631c1fe.png)

We should have the same top bar as the timeline widget for consistency. It allows users to maximize / minimize the widget and download the data to explore it locally. On the top left of the widget, we show the entity of interest (wh

[2017-04-08 08:46] lustoykov commented on #56
No, but it could be quasi-live. Proposal is awesome!

[2017-04-08 09:03] #58 closed, assigned to chaoran-chen

[2017-04-08 10:06] vviro commented on #56
@martomi I like the layout, very good!

One minor suggestion: replace the word Flag with an icon, and maybe Source(s) too. Are they always visible, or maybe only on mouseOver? Could we display several extended snippets from the sources on mouseOver on a list entry? What happens upon a click on an entity or relation? Does a new filter version of the widget (for example, if one clicks on a found rel

[2017-04-08 10:57] martomi commented on #56
@vviro Thanks for the feedback. I like the suggestion for replacing text with icons and making them only visible on mouseOver. See below:

![artboard](https://cloud.githubusercontent.com/assets/3739458/24828297/2329c408-1c5a-11e7-907b-236aee1ba623.png)

This is assuming that the user is currently hovering over the first table entry. I've also added pagination on the bottom to resolve you concern a

[2017-04-08 12:55] gyachdav commented on #56
I really like this! Will have to take a closer look when I get back home but his looks like a big step In the right direction. As this is a data exploration tool navigation is key here. Is there a way to trace back my activity? If I clicked on several entities one imafter the other cam would I be able to hit the back button to bring me back to a crossway where i willl decide to go the other way?

[2017-04-08 14:20] lustoykov commented on #56
Correct me if I'm wrong, but I think this navigation is only one level deep and for that @martomi has provided a "Back to all Relations" link / button.

Can we start implementing it as it is? Deadline is very soon and the widget is very ambitious.

I like the share via social media suggestion.

[2017-04-08 15:08] martomi commented on #56
The way I have thought is one level deep, yes.

We could easily make it possible to click again and go to a quasi-deeper levels, but without the possibility to go back to a crossway. We would use the same "Go back to all Relations" link. I think this would give us 80% the value for 20% the implementation effort.

Besides, I think It's interesting to explore deeper and going back to a "crossway" wo

[2017-04-08 15:17] chaoran-chen commented on #56
@martomi, great job! The images are very nice and the design looks quite matured! I have only one question.

Does it mean that different _first_ Entity could be displayed? Because in the images, it seems that the first Entity would, e.g., be Wolfgang Amadeus Mozart and cannot be changed..? Because if it is the case, we could not display information where the subject is _Mozart's father_, _Mozart's

[2017-04-08 15:34] martomi commented on #56
@chaoran-chen You're making a good point. I think they'll be useless at least in the beginning... Yes, we have the first entity fixed to the entity which the page is about and that's the only option that would make sense in my opinion. We can't display **any** relationships which might have something to do with Mozart, but might as well have nothing to do with him.

In my opinion that would be rat

[2017-04-08 18:35] gyachdav commented on #56
Now that we're more or less clear on how the widget should look like, I would like to suggest an enhancement that would fit the SPA mode.

If you recall from presentation week, we spoke about the Spotify layout and how it would fit this case. I believe that if we have a few entities that connect to our anchor entity we could present the relationships this way:
![slide1](https://cloud.githubusercon

[2017-04-08 19:43] vviro commented on #56
@gyachdav Yes, this makes sense. I would also add a transposed version of the same, where instead of relationship rows we would have entity rows containing various relations. The entities would be sorted by popularity/importance/interestingness. One would be able to switch between the two modes.

Also, maybe there is a way to graphically highlight a bit more the connection between the anchor entit

[2017-04-08 19:45] vviro commented on #56
@martomi regarding the reference popup it might be good to point the user to a full page containing the list, since it would probably be quite long for the relations and entities we will be showing. A short preview on mouseOver would also be good in the current form.

[2017-04-09 14:12] lustoykov opened #61 "Adjust relationship widget to provided mockups"
@martomi starts with the search top bar (styles + provide callback when user types in)
@martomi implements API calls when user types in the search bar and populates data into state

My suggestion is for now to load top 50 relations + entities determined by server algorithm for given entity so that search could be quicker and pagination easier to implement. Search would act as a filter on React’s s

[2017-04-10 08:10] gyachdav commented on #56
@martmi any updates on that? What is the next milestone for this feature?

[2017-04-10 09:14] lustoykov commented on #56
@gyachdav we started implementing the small widget first. Have a look #61

[2017-04-10 13:10] lustoykov commented on #61
We're working on the branch https://github.com/MusicConnectionMachine/VisualizationG5/tree/relation-widget

[2017-04-10 14:58] lustoykov commented on #61
OK, now the details view is on its way.

[2017-04-14 00:54] lustoykov commented on #61
STATUS (provided by @martomi)
----

1. making entities detail view
2. providing a close button for popovers (top right with icon)
3. Sources popover can have a list of source (see mockups) and we want to only show a few of them and make it possible to include a link that would contain all sources on some other page
4. fix full screen mode (you’ve written a TODO it’s not working properly (why not?)

[2017-04-14 19:46] lustoykov commented on #61
### Status UPDATE

1. making entities detail view - **DONE** by @lustoykov
2. providing a close button for popovers (top right with icon) - **DONE** by @lustoykov
3. Sources popover can have a list of source (see mockups) and we want to only show a few of them and make it possible to include a link that would contain all sources on some other page **TODO** by @martomi
4. fix full screen mode (you’

[2017-04-14 21:00] kordianbruck commented on #61
Thanks for keeping us posted! :+1:

[2017-04-15 22:44] martomi commented on #56
Continued in #61

[2017-04-15 22:44] #56 closed, assigned to vviro, martomi, chaoran-chen, lustoykov, joern-vh

[2017-04-17 17:33] kordianbruck commented on #61
I've been hitting refresh / F5 every 5 seconds since Friday - so whats up?

Nevermind - its in the PR - *shame on me*

[2017-04-17 17:58] pfent commented on #61
@kordianbruck leaving the trapfall open for others: *ding* **shame** *ding*

[2017-04-17 18:27] kordianbruck opened #63 "Demo for Timeline with real data"
Do you have a demo somewhere with the real data (sample) that we can look at?

[2017-04-17 18:28] kordianbruck opened #64 "Access the API"
We need the widgets to actually fetch the data from the api - as I know this is not yet done right?

[2017-04-17 18:29] kordianbruck commented on #52
@chaoran-chen can you please work through this issue an create sub issues and then close this one? Its not maintainable with this wall of text. Thanks

[2017-04-17 18:34] pfent opened #65 "Embedding of widgets in other pages"
Is there a way to embed the widgets into another site? Example code for this would probably to be handy.
Also, is there an API to 'tell' your widgets, what to display? E.g.:
* set query
* automatically scroll to data
* etc.

[2017-04-17 18:41] chaoran-chen commented on #63
Do you mean this (which I have already posted several times)?
http://54.68.164.199:8080/timeline-app.html

[2017-04-17 18:45] chaoran-chen commented on #52
We forgot to close it but I think that there are no sub-issues that have to be created.

[2017-04-17 18:45] #52 closed, assigned to chaoran-chen

[2017-04-17 18:47] kordianbruck opened #66 "Map Widget - take over from G6"
Please take over this widget from group 6 and finish it: https://github.com/MusicConnectionMachine/VisualizationG6/pull/66

They will be much more involved with finishing the SPA. The 3 Widgets (Map, Timeline, Relationship) will be your responsibility.

[2017-04-17 18:51] kordianbruck commented on #63
Yes exactly - we couldn't find it. When can we see it with real data from the API?

[2017-04-17 18:52] chaoran-chen commented on #63
When https://github.com/MusicConnectionMachine/api/issues/22 is done.

[2017-04-17 18:55] kordianbruck commented on #61
This is not yet implemented - so we should not close this issue

[2017-04-17 19:41] joern-vh commented on #65
Have a look at the [Documentation Site](http://54.68.164.199:8083/). I think this is where a Demo is hosted. @chaoran-chen may you deploy the new Version? :)

[2017-04-17 19:47] pfent commented on #65
Neat! @gyachdav @vviro I think this is exactly what we were looking for?

I'd expect a link to this in the README… Maybe you can add this and be sure, that you'll get all the kudos from my side 💃

[2017-04-17 19:47] #65 closed, assigned to joern-vh

[2017-04-18 07:41] sacdallago commented on #65
Also, if this thing is hosted on MS instead of using the ip can you use the autogenerated DNS entry? It _feels_ a bit prettier :)

[2017-04-18 07:43] sacdallago commented on #61
# NOW
![](http://ps3media.ign.com/ps3/image/article/102/1026159/tekken-6-screens-20090918093947227.jpg)

[2017-04-18 13:35] gyachdav commented on #65
This is very nice! @pfent  please open an issue on G6 to add a link to this documentations from the About column in the SPA footer. thanks

[2017-04-18 14:49] chaoran-chen commented on #63
A demo is there and the connection with the API is covered by #64 -> closed.

[2017-04-18 14:49] #63 closed, assigned to chaoran-chen

[2017-04-20 22:12] vviro commented on #44
@Binabiko @chaoran-chen What's the state of the IMSLP integration? Shouldn't this be re-opened or a new issue specifically concerning the integration of the widgets with the IMSLP be opened? I see this is covered in https://github.com/MusicConnectionMachine/VisualizationG5/pull/54, so probably the question belongs there, but do we have a demo of the IMSLP embedding? If so, we could test it on the

[2017-04-21 09:04] joern-vh commented on #44
What do you mean? IMSLP Support is already finished.

[2017-04-21 10:38] chaoran-chen commented on #44
There is still one issue that needs to be done before we can really include them: https://github.com/MusicConnectionMachine/api/issues/101, but I believe that the front-end is ready.

[2017-04-21 19:09] gyachdav commented on #61
@martomi what are the chances we will implement the Spotify layout during the hackathon? If this is not realistic a than what is your time/effort estimate to convert the widget to the mockup described in #56

[2017-04-21 19:45] chaoran-chen commented on #64
This front-end part of this issue is mostly done and also the swagger-api part is generally finished but there are still two blocking issues:
* https://github.com/MusicConnectionMachine/api/issues/101
* There is still no data so that it is hard to evaluate if the implementations are really correct.

I hope that we (including the back-end groups) can fix them tomorrow during the hackathon but becau

[2017-04-21 20:02] martomi commented on #61
@gyachdav My plan for tomorrow was rather integrating the widget functionalities with a real and functional API. Currently, all the API calls are mocked on the front end. Endpoints would most likely need to be added / adjusted on the backend. I expect issues would arise during the integration so that there should be enough work for the day in order to hopefully get everything up and running smooth

[2017-04-21 20:08] lustoykov commented on #61
I'll just post the facts and you decide if 2-3 days are realistic:

- The small widget took about 5 full time work days to get it to this point
- On top, @chaoran-chen  has implemented an API which currently is not sure if it works, because
there is no data, so let's say when we are finished there, this is 1 day more
- Then we need to integrate them and fix bugs, if any
- Also, the feedback Popove

[2017-04-21 20:19] chaoran-chen commented on #61
@lustoykov, you've just summoned a developer who's sitting somewhere in Beijing ;)

PS. reply from @lustoykov not to flood: This was AI from github I think, my initial post wrote "Chaoran" :D

[2017-04-21 20:53] #66 closed, assigned to chaoran-chen

[2017-04-21 20:55] gyachdav commented on #61
@vviro is the feedback popover really necessary?

Sent from my iPhone

[2017-04-21 21:33] vviro commented on #61
@gyachdav hard to tell like that, let's see tomorrow.

[2017-04-22 09:14] kordianbruck commented on #66
Thanks!

[2017-04-22 20:58] #61 closed, assigned to martomi, chaoran-chen, lustoykov

[2017-04-23 10:11] kordianbruck commented on #61
Can we use the same API? https://github.com/MusicConnectionMachine/api/issues/90

@martomi - if so please open a new issue to link your feedback widget with that api.

[2017-04-23 10:14] kordianbruck opened #74 "Still needed APIs"
So we got a ton of features now in this repo but I'm not really sure, where we are missing APIs and which are already done / in progress.

Did everyone create an issue in the API project if they require an endpoint?

@MusicConnectionMachine/group-5

[2017-04-23 11:22] chaoran-chen commented on #74
#### For using inside of IMSLP:
https://github.com/MusicConnectionMachine/api/issues/101
#### For our own SPA:
* Relations: https://github.com/MusicConnectionMachine/api/pull/100. It is maybe already working as it is but we don't know it since there is no data in the database.
* Timeline: https://github.com/MusicConnectionMachine/api/issues/22. Here, the front-end part is not implemented, which is

[2017-04-23 12:20] kordianbruck commented on #74
So feedback is done for relationship widget? Already integrated?

[2017-04-23 12:22] martomi commented on #61
That API doesn't seem to be universal for all kinds of resources by looking at the POST URI `POST /events/:event_id/feedback` We'd need a similar `/relations/:relation_id/feedback` endpoint.
Otherwise the current implementation could be partially reused with the "wrong_data" type, but we also have an optional comment that won't be saved. We need to have additional parameter for comment.

<img widt

[2017-04-23 12:24] martomi commented on #74
See also #61 I don't think we have that API yet, @chaoran-chen ?

[2017-04-23 12:26] kordianbruck commented on #74
@martomi please an issue in the API then please.

[2017-04-23 16:41] kordianbruck opened #78 "Integrate with group 6 and deploy to same machine"
I think it would be smart to serve the SPA and the Widgets from the same machine. This is actually quite simple.

As we have now included this repo as a submodule in the other project, we can run the build for the widgets in the Dockerfile of group 6 and then copy the files to the according subfolders. ( /widgets/map/ - etc.)

This saves you the hassle of deploying your own machine and save us mon

[2017-04-24 02:08] chaoran-chen opened #79 "Timeline's connection to API"
The timeline component should use the API as soon as https://github.com/MusicConnectionMachine/api/issues/22 is completely finished.

[2017-04-24 02:09] chaoran-chen opened #80 "Relations' connection to API"
The relations component should use the API as soon as https://github.com/MusicConnectionMachine/api/issues/33 is completely finished.

[2017-04-24 02:09] kordianbruck commented on #64
Will track in individual issues for a better overview.

[2017-04-24 02:09] #64 closed, assigned to chaoran-chen

[2017-04-24 16:21] chaoran-chen commented on #78
I will do it after #73 is merged.

[2017-04-24 18:15] lustoykov opened #81 "Refactor fetch"
Remove fetch calls and replace with service calls, ask @chaoran-chen for more information.

Also, move `API-KEY: 123` in config file.

See #73

[2017-04-25 16:03] joern-vh commented on #81
Solved by #85.

[2017-04-25 16:03] #81 closed, assigned to joern-vh

[2017-04-25 16:16] chaoran-chen opened #86 "Use Feedback API"
The feedback functions of the timeline and relations component have to use the feedback API. This should be done after #79 and #80.

[2017-04-25 19:33] #78 closed, assigned to chaoran-chen

[2017-04-25 19:35] chaoran-chen commented on #74
Nothing to do here anymore  - it's all covered by other issues.

[2017-04-25 19:35] #74 closed, assigned to nobody

[2017-04-30 20:43] chaoran-chen opened #88 "Remove usage of /search/entites"
https://github.com/MusicConnectionMachine/VisualizationG5/blob/develop/react/src/StartupService.jsx#L80 should use `/works` and `/artists` instead of `/search/entities`. (See https://github.com/MusicConnectionMachine/api/issues/133)

[2017-05-03 20:24] #88 closed, assigned to chaoran-chen

[2017-05-03 22:24] #79 closed, assigned to chaoran-chen